/* @import "https://code.highcharts.com/css/highcharts.css"; */

/* ************************************************** */
/* Map */
.leaflet-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  /* z-index: -99; */
}

/* ************************************************** */
/* Dashboard Panel */
.info-panel .MuiPaper-root {
  top: 20px;
  left: 15px;
  margin: 10px 15px 8px 15px;
  text-align: center;
  /* background-color: rgba(241, 241, 241, 0.15);  
  backdrop-filter: blur(5px); */
  border: 1px solid rgba(150, 150, 150, 0.25);
}

/* Header */
.info-panel div.MuiBox-root header.MuiPaper-root {
  width: auto;
}


.info-panel .MuiToolbar-root {
  justify-content: space-around;
}

/* Cinema Name Box */
.info-panel div.MuiAutocomplete-root {
  text-align: center;
}

.info-panel div.MuiAutocomplete-root input#cinema-value {
  color: rgb(246, 246, 252);
}

.cinema-auto-complete textarea, .cinema-auto-complete input {
  width: 380px;
  font-size: x-large !important;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}

/* Cinema Name Autocomplete Dropdown Box */
.info-panel .MuiAutocomplete-popper {
  position: fixed !important;
  transform: translate3d(120px, 145px, 0px) !important;
}

/* Trivia */
.info-panel .trivia__container.MuiBox-root {
  padding-top: 5px;
  padding-bottom: 12px;
}

.info-panel .trivia__container.MuiBox-root .trivia__content {
  font-size: 0.85rem;
}

/* Stat Card Container */
.info-panel .stat-card__container .MuiCardContent-root {
  padding: 12px 16px 16px 16px;
}

.info-panel .stat-card__container .MuiGrid-item {
  text-align: left;
}

/* Stat Card */
.info-panel .stat-card__container .stat-card__primaryvalue {
  font-size: 1.8rem;
}

/* Chart */
[class*="info-panel__chart"] {
  margin: 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

/* ************************************************** */
/* info-panel Theme Colors */

/* blue */
.info-panel--blue .palette-header {
  background-color: #313e87 !important;
}

.info-panel--blue .palette-primary {
  stroke: #7863cc !important;
  fill: #7863cc !important;
}

.info-panel--blue .palette-primary stop {
  stop-color: #7863cc !important;
}

.info-panel--blue .palette-secondary {
  stroke: #bfceff !important;
  fill: #bfceff !important;
}

/* Yellow */
.info-panel--yellow .palette-header {
  background-color: #C29440!important;
}

.info-panel--yellow .palette-primary {
  stroke: #F7BE54 !important;
  fill: #F7BE54 !important;
}

.info-panel--yellow .palette-primary stop {
  stop-color: #F7BE54 !important;
}

.info-panel--yellow .palette-secondary {
  stroke: #ffe7ba !important;
  fill: #ffe7ba !important;
}

/* Turquoise */
.info-panel--turquoise .palette-header {
  background-color: #219685 !important;
}

.info-panel--turquoise .palette-primary {
  stroke: #3EB8A5 !important;
  fill: #3EB8A5 !important;
}

.info-panel--turquoise .palette-primary stop {
  stop-color: #3EB8A5 !important;
}

.info-panel--turquoise .palette-secondary {
  stroke: #b4e5dd !important;
  fill: #b4e5dd !important;
}

/* Orange */
.info-panel--orange .palette-header {
  background-color: #F76E11 !important;
}

.info-panel--orange .palette-primary {
  stroke: #FF9F45 !important;
  fill: #FF9F45 !important;
}

.info-panel--orange .palette-primary stop {
  stop-color: #FF9F45 !important;
}

.info-panel--orange .palette-secondary {
  stroke: #ffe1c5 !important;
  fill: #ffe1c5 !important;
}

/* Burgundy */
.info-panel--burgundy .palette-header {
  background-color: #750550 !important;
}

.info-panel--burgundy .palette-primary {
  stroke: #980F5A !important;
  fill: #980F5A !important;
}

.info-panel--burgundy .palette-primary stop {
  stop-color: #980F5A !important;
}

.info-panel--burgundy .palette-secondary {
  stroke: #efbad7 !important;
  fill: #efbad7 !important;
}

/* Violet */
.info-panel--violet .palette-header {
  background-color: #8A39E1 !important;
}

.info-panel--violet .palette-primary {
  stroke: #9C51E0 !important;
  fill: #9C51E0 !important;
}

.info-panel--violet .palette-primary stop {
  stop-color: #9078f0 !important;
}

.info-panel--violet .palette-secondary {
  stroke: #e19bc1 !important;
  fill: #e19bc1 !important;
}

/* Ukraine */
.info-panel--ukraine .palette-header {
  background-color: #005bbc !important;
}

.info-panel--ukraine .palette-primary {
  stroke: #ffd600 !important;
  fill: #ffd600 !important;
}

.info-panel--ukraine .palette-primary stop {
  stop-color: #ffd600 !important;
}

.info-panel--ukraine .palette-secondary {
  stroke: #f9edad !important;
  fill: #f9edad !important;
}

/* .info-panel__chart g.highcharts-level-group-1 rect {
  fill: #ffd600 !important;
} */


/* Chart Gradient */  
#gradient-0 stop[offset="0"] {
  stop-opacity: 0.35;
}

#gradient-0 stop[offset="1"] {
  stop-opacity: 0;
}

#gradient-end stop {
  stop-color: #ccc;
}

#gradient-end stop[offset="0"] {
  stop-opacity: 0;
}

#gradient-end stop[offset="1"] {
  stop-opacity: 0.15;
}

/* Apply the gradients */
.highcharts-plot-background {
  fill: url(#gradient-1);
}

.highcharts-area {
  fill-opacity: 1;
  fill: url(#gradient-0);
}

.highcharts-color-0.currentCinema {
  stroke: #7863cc;
  fill: #7863cc;
}

/* House Details Table */
tr {
  height: 10px;
}

tr td {
   height: auto !important;
}


.info-panel__chart #chart-seat-plan-button {
  background-color: darkslategray;
  color: whitesmoke;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}

.info-panel__chart #chart-seat-plan-button:hover {
  background-color: rgb(64, 107, 107);
  color: whitesmoke;
}


/* ************************************************** */
/* Seatplan Dialog */
.seatplan-dialog .MuiDialogContent-dividers {
  text-align: center;
}

.seatplan-dialog #house-selection-label {
  color: rgb(243 238 173);
}

.seatplan-dialog #house-selection-label.Mui-focused {
  color: rgb(248, 242, 152);
}

.seatplan-dialog .MuiCircularProgress-colorPrimary {
  color: rgb(248, 243, 176);
}

.seatplan-dialog #seat-plan-loader {
  min-height: 300px;
  color: whitesmoke;
}


/* Seatplan */
/* second to last <g> to skip the first <g> screen element */
.seatplan-dialog svg.seatplan {
  height: 100%;
  max-height: 65vh;
}

.seatplan-dialog svg.seatplan > g:nth-child(n+2) > a {
  cursor: pointer;
}

.seatplan-dialog svg.seatplan > g:nth-child(n+2) > a > text {
  fill:rgb(0, 0, 0) !important;
}

/* https://colordesigner.io/gradient-generator */
.freq-lv0 {
  fill: rgb(228, 247, 212) !important;
  stroke: rgb(228, 247, 212) !important;
}

.freq-lv1 {
  fill: rgb(239, 225, 186) !important;
  stroke: rgb(239, 225, 186) !important;
}

.freq-lv2 {
  fill: rgb(246, 202, 160) !important;
  stroke: rgb(246, 202, 160) !important;
}

.freq-lv3 {
  fill: rgb(250, 179, 135) !important;
  stroke: rgb(250, 179, 135) !important;
}

.freq-lv4 {
  fill: rgb(253, 155, 110) !important;
  stroke: rgb(253, 155, 110) !important;
}

.freq-lv5 {
  fill: rgb(253, 130, 86) !important;
  stroke: rgb(253, 130, 86) !important;
}

.freq-lv6 {
  fill: rgb(251, 103, 62) !important;
  stroke: rgb(251, 103, 62) !important;
}

.freq-lv7 {
  fill: rgb(248, 71, 38) !important;
  stroke: rgb(248, 71, 38) !important;
}

.freq-lv8 {
  fill: rgb(244, 14, 9) !important;
  stroke: rgb(244, 14, 9) !important;
}


pre {
  font-size: 7em;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
}
.mark {
  fill: #137B80;
}
.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}

.map-pulse-container {
  z-index: -1 !important;
}

.map-icon-pulse-effect {
  /* border: 2px solid rgba(98, 210, 255, .7); */
  position: absolute;
  background-color: rgba(50, 225, 250, .5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  /* bottom: -30px; */
  left: -3px;
  height: 20px;
  width: 30px;
  z-index: -1;
}

.map-icon-pulse-effect:before {
  /* border: 2px solid rgba(98, 210, 255, .7); */
  position: absolute;
  content: '';
  border: 2px solid rgba(14, 172, 235, .5);
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  top: 0;
  left: 0;
  z-index: -2;
  animation: pulse 1s linear infinite;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

